*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --paragraph:14px;
    --Primary-Color: #ffa100;
    --Secondary-Color: #ffad1f;
}
                                            /* /////////////////////////////// */
                                                        /* Header */
                                            /* /////////////////////////////// */

header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    align-items: center;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;

}
header logo img{
    width: 60%;
}
.Navbar{
    display: flex;
    justify-content: center;
    align-items: center;

}
.Navbar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;

}

.Navbar ul a{
    text-decoration: none;
    padding: 15px;
    color: black;
    font-size: var(--paragraph);
}

.Navbar ul a:hover{
    text-decoration: none;
    color: var(--Secondary-Color);
    font-size: var(--paragraph);
}
.Navbar ul li:nth-child(6) > a{
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 10px 15px;
    /* background-color: #ffa100; */

}
.Navbar ul li:nth-child(6) > a:hover{
    border: 1px solid #ffa100;
    border-radius: 5px;
    /* background-color: #ffad1f; */

}

.Hamburger{
    display: none;
    background-color: #ffa100;
    height: 40px;
    width: 40px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    gap: 5px;
}
.Hamburger span{
    display: block;
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 25px;
}

section
{
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}
.bgimage{
    position: absolute;
    top: -200px;
    right: 0px;
    z-index: -1;
}
.slider{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 0% 13%; */
}
.slider .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-left: 8%;
}
.details h3{
    /* flex: 1; */
    font-size: 16px;
    color: #DF6951;
}
.details h1{
    /* flex: 1; */
    font-size: 64px;
    line-height: 1;
    padding: 10px 0px;
    /* color: #DF6951; */
}

.buttons{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}
.buttons a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    background-color: var(--Primary-Color);
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 20px;
}
.buttons a:hover{
    background-color: var(--Secondary-Color);
}
.buttons img{
    cursor: pointer;
}
.img{
    margin-right: 10%;

}
.img img{
    width: 100%;
   
}
.mainsection{
    height: 70vh;
    /* margin-bottom: 20%; */
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.service{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.service div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #d1d1d180;
  transition: all 0.3s ease; /* smooth animation */
}

.service div:hover {
  transform: translateY(-10px) scale(1.05); /* thoda upar aur bada */
  box-shadow: 5px 10px 20px #b3b3b380; /* gehra shadow */
  cursor: pointer; /* pointer cursor for interactivity */
}

.service img{
    width: 50px;
}
.service h5{
    margin: 5px 0px;
}
.service p{
    font-size: 12px;
    text-align: center;
}
.destination{
    display: flex;
    gap: 30px;
    border-radius: 20px;
    margin-top: 40px;
}
.destination .Images {
  position: relative;
  top: 0px;
  left: 0px;
  transition: all 0.3s ease; /* smooth transition */
}

.destination .Images:hover {
  transform: translateY(-10px) scale(1.05); /* thoda upar aur bada */
  box-shadow: 5px 10px 20px #b3b3b380; /* shadow effect */
  cursor: pointer;
}

.destination .details{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
    z-index: 1;
    width: 100%;
    padding: 0px 10px;
    height: 100px;
    border-radius: 0px 0px 20px 0px;
    box-shadow: 10px 10px 10px #b7b7b7;
}
.details .det{
    display: flex;
    justify-content: space-between;
    /* padding: 0px 10px; */
    font-size: 14px;    
    margin: 10px 0px;
}
.details p {
    font-size: 14px;    
    /* padding-left: 20px; */
}
.nexttrip{
    margin-top: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nexttrip .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.leftdetails{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.leftdetails img{
    width: 30px;
}
.leftdetails h6{
    font-size: 14px;
}
.leftdetails p{
    font-size: 12px;
}
.peoplesay{
     margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
}
.peoplesay .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.clients{
    /* margin-tsop: 10%; */
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
}
.subscription{
    /* margin-top: 10%; */
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
}
.subscription .mainsub{
    display: flex;
    box-shadow: 10px 10px 10px #cdcdcd;
    padding: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
}
.subscription h3{
    text-align: center;
    margin-bottom: 20px;
}
.subscription .sub{
    display: flex;
    gap: 20px;
}
.sub input{
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    background-color: #f3f3f3;
}
.sub button{
    background-color: var(--Primary-Color);
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.sub button:hover{
    background-color: var(--Secondary-Color);
    cursor: pointer;
}
.footer{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}
/* .footer widget{
    background-color: #DF6951;
} */
.logo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}
.logo img{
    width: 100px;
}
.logo p{
    font-size: 12px;
    /* text-align: center; */
}
.footer h6{
    font-size: 16px;
    margin-bottom: 10px;

}
.footer ul{
display: flex;
flex-direction: column;
gap: 15px;
}
.footer ul li{
list-style-type: none;
font-size: 12px;
}

.social img
{
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
}
.socials h5{
    font-size: 16px;
    padding: 10px 0px;
}
.app img{
    width: 100px;
    cursor: pointer;
}
.copyright{
    background-color: #f3f3f3;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */

}